@charset "utf-8";
/* CSS Document */

/*默认样式重置代码区*/

div,body,ul,li,p,h1,h2,h3,h4,h5,h6,img,br,hr,table,tr,td,dl,dt,dd,form,input {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}


/*清浮动代码*/

.clear {
	zoom:1;
}
.clear:after {
	content:"";
	display:block;
	clear:both;
}
