body {
	// min-width: 960px; 
	position: relative;
}
li {
	list-style-type:none;
}
/*登陆弹窗*/
.loginWrap {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity:0.8;
	filter:alpha(opacity=80);
	position: absolute;
	top: 0;
	left: 0;
	z-index:9998;
	display: none;
}
.loginForm {
	width: 388px;
	height: 288px;
	background: #ffffff;
	margin: 0 auto;
	z-index:9999;
	position: absolute;
	display: none;
}
.loginX {
	position: absolute;
	top: 10px;
	right: 8px;
}
.loginX:hover {
	cursor: pointer;
}
.loginTitle {
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	position: absolute;
	left: 45px;
	top: 24px;
}
.loginUser {
	position: absolute;
	left: 45px;
	top: 68px;
	width: 285px;
	height: 45px;
	background: url(../img/loginUser.png) no-repeat;
	padding-left: 10px;
}
.loginPass {
	position: absolute;
	left: 45px;
	top: 128px;
	width: 285px;
	height: 45px;
	background: url(../img/loginPass.png) no-repeat;
	padding-left: 10px;
}
.loginBtn {
	position: absolute;
	left: 45px;
	top: 202px;
	width: 295px;
	height: 48px;
	background: url(../img/loginBtn.png) no-repeat;
	outline：none;
}
.loginUser:focus,.loginPass:focus,.loginBtn:focus {
	outline: none;
}
/*头部提醒条*/
.noticeWrap {
	height: 36px;
	background: #f3f3f3;
}
.notice {
	height: 36px;
	width: 1206px;
	margin: 0 auto;
	background: #f3f3f3;
}
.notice p,.notice a,.notice li {
	display: inline-block;
	line-height: 36px;
	font-size: 12px;
	font-family: "微软雅黑";
}
.notice p {
	float: left;
	margin-left: 206px;
}
.notice a {
	color: #21a557;
	float: left;
}
.noNotice {
	float: right;
	margin-right: 206px;
}
.noNotice:hover {
	cursor: pointer;
}

/*banner*/

/*banner上部分*/
.bTop {
	height: 95px;
	margin: 0 auto;
	width: 1206px;
	background: #ffffff;
}
.EDUlogo,.follow,.fans,.ad_1,.ad_2,.ad_3,.magnifier {
	display: inline-block;
}
.EDUlogo {
	width: 234px;
	height: 21px;
	background: url(../img/EDUlogo.png) no-repeat;
	float: left;
	margin-top: 35px;
	margin-left: 206px;
}
.follow {
	width: 54px;
	height: 21px;
	background: url(../img/followBtn.png) no-repeat;
	margin-left: 1.6%;
	float: left;
	margin-top: 35px;
}
.follow:hover {
	cursor: pointer;
	background: url(../img/followBtnHover.png) no-repeat;
}
.followTrue {
	width: 106px;
	height: 21px;
	margin-left: 1.6%;
	float: left;
	margin-top: 35px;
	background: url(../img/followTrue.png) no-repeat;
	display: none;
}
.followTrue:hover {
	cursor: pointer;
	background: url(../img/followTrueHover.png) no-repeat;
}
.fans {
	font-size: 12px;
	font-family: "宋体";
	color: #666666;
	margin-left: 0.6%;
	margin-top:39px; 
	float: left;
}
.ad_1,.ad_2,.ad_3 {
	font-family: "黑体";
	color: #666666;
	font-size: 16px;
	float: right;
	margin-top: 37px;
}
.ad_1:hover,.ad_2:hover,.ad_3:hover {
	cursor: pointer;
	color: #39a030;
}
.ad_3 {
	margin-right: 4.3%;
}
.ad_1,.ad_2 {
	margin-right: 2.3%;
}
.magnifier {
	width: 18px;
	height: 18px;
	background: url(../img/magnifier.png) no-repeat;
	float: right;
	margin-top: 37px;
	margin-right: 206px;
}
.magnifier:hover {
	cursor: pointer;
	background: url(../img/magnifierHover.png) no-repeat;
}

/*banner主体*/
.bMain {
	// width: 1206px;
	height: 460px;
	position: relative;
	overflow: hidden;
}
.bPic_1 {
	height: 460px;
	background: url(../img/banner1.jpg) no-repeat;/*left值等于1652减去屏幕宽度*/
}
.bPic_2 {
	height: 460px;
	background: url(../img/banner2.jpg) no-repeat;
}
.bPic_3 {
	height: 460px;
	background: url(../img/banner3.jpg) no-repeat;
}
.bDot {
	width: 52px;
	height: 12px;
	position: absolute;
	bottom: 20px;
	left: 577px;
	z-index: 99;
}
.bDot li {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	position: absolute;
}
.bDot li:hover {
	cursor: pointer;
}
.carPic {
	width: 1652px;
	position: absolute;
}
.bPic_2,.bPic_3 {
	display: none;
}
.dotNoActive {
	background: #ffffff;
}
.dot_2 {
	left: 21px;
}
.dot_3 {
	right: 0px;
}
.dotActive {
	background: #333333;
}

/*banner底部三个产品*/
.bBottom {
	height: 296px;
	margin: 0 auto;
	width: 1206px;
	background: #ffffff;
	display: -webkit-flex;/*Chrome,Safari,Opera*/
	display: -moz-flexbox;/*Firefox*/
	display: flex;
	justify-content: space-around;
}
.pro_1,.pro_2,.pro_3 {
	width: 356px;
	height: 178px;
	// display: inline-block;
	margin-top: 56px;
}
.pro_1_leftPic {
	width: 81px;
	height: 81px;
	background: url(../img/circle_1.png) no-repeat;
	margin-top: 8px;
	float: left;
}
.pro_2_leftPic {
	width: 81px;
	height: 81px;
	background: url(../img/circle_2.png) no-repeat;
	margin-top: 8px;
	float: left;
}
.pro_3_leftPic {
	width: 81px;
	height: 81px;
	background: url(../img/circle_3.png) no-repeat;
	margin-top: 8px;
	float: left;
}
.pro_right {
	width: 244px;
	float: left;
	margin-left: 22px;
}
.bBottom .pro_title {
	font-family: "微软雅黑";
	font-size: 22px;
	color: #333333;
}
.bBottom .pro_intro {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
	margin-top: 12px;
}
.pro_a {
	display: block;
	width: 71px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #39a030;
	margin-top: 32px;
}
.pro_a:hover {
	border-bottom: solid 1px #39a030;
}

/*工作环境*/
.workE {
	background: url(../img/workEnvironment.png) no-repeat bottom;
	background-size: 100% ;
}

/*主内容部分*/



/*底部部分*/
.footerWrap {
	width: 1206px;
	height: 262px;
	background: #2c3339;
}
.footer {
	width: 1206px;
	height: 262px;
	margin: 0 auto;
}
.footerLeft {
	width: 400px;
	height: 90px;
	margin-left: 130px;
	padding-top: 92px;
}
.footerLeft {
	font-family: "微软雅黑";
	font-size: 12.5px;
	color: #bebfc0;
	display: inline-block;
}
.leftP_1 {
	margin-top: 22px;
}
.leftP_2 {
	margin-top: 10px;
}
.footerRight {
	width: 406px;
	height: 106px;
	margin-left: 150px;
	display: inline-block;
}
.right_1,.right_2,.right_3 {
	display: inline-block;
}
.right_1 {
	width: 112px;
}
.right_1_1,.right_1_2 {
	width: 75px;
}
.right_1_3 {
	width: 108px;
}
.right_2 {
	width: 64px;
}
.right_2_1,.right_2_2 {
	width: 31px;
}
.right_2_3 {
	width: 60px;
	background: url(../img/weibo.png) no-repeat 40px;
}
.right_3 {
	width: 66px;
}
.right_3 a {
	width: 61px;
}
.footerRight span {
	font-family: "微软雅黑";
	font-size: 12.5px;
	color: #bebfc0;
	display: block;
}
.footerRight a {
	font-family: "微软雅黑";
	font-size: 14.58px;
	color: #bebfc0;
	display: block;
	margin-top: 10px;
	border-bottom: solid 1px #2c3339;
}
.footerRight a:hover {
	border-bottom: solid 1px #bebfc0;
}
.right_2 {
	margin-left: 88px;
}
.right_3 {
	height: 106px;
	margin-left: 64px;
	float: right;
}


/*主内容部分*/
.contentWrap {
	height: 1551px;
	background: #f8f8f8;
}
.content {
	margin:0 auto;
	width: 1206px;
	height: 1350px;
	padding-top: 80px;
	padding-bottom: 120px;
}
/*左边*/
.contentLeft {
	width: 980px;
	float: left;
}
/*左边上面的两个tab按钮*/
.contentLeftTop {
	height: 52px;
	width: 482px;
}
.design {
	width: 201px;
	height: 52px;
	background: url(../img/design_1.png) no-repeat;
	float: left;
}
.language {
	width: 201px;
	height: 52px;
	background: url(../img/language_2.png) no-repeat;
	float: left;
}
/*左边的下面内容部分*/
.contentLeftBottomDesign,.contentLeftBottomLanguage {
	// margin-top: 28px;
	// padding-left: 80px;
	height: 1222px;
	margin: 28px auto;
}
.contentLeftBottomLanguage {
	display: none;
}
.contentLeftBottomDesign li,.contentLeftBottomLanguage li {
	width: 228px;
	height: 230px;
	background: url(../img/classBg.png) no-repeat;
	float: left;
	margin-right: 12px;
	margin-bottom: 18px;
	position: relative;
}
.classPic {
	width: 223px;
	height: 124px;
}
.contentLeftBottomDesign li img,.contentLeftBottomLanguage li img {
	margin-left: 2px;
	padding-top: 1px;
}
.classTitle {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333333;
	margin-top: 4px;
	margin-left: 6px;
	width: 210px;
	height: 14px;
	line-height: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.classAuthor {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #999999;
	margin-left: 6px;
	margin-top: 2px;
}
.classAttentionNum {
	display: block;
	width: 56px;
	height: 16px;
	border: solid 1px #dddddd;
	border-radius: 3px;
	margin-left: 6px;
	margin-top: 6px;
	font-size: 10px;
	line-height: 16px;
	color: #999999;
}
.classAttentionNum img {
	float: left;
	margin-right: 4px;
}
.classPrice {
	display: block;
	font-size: 12px;
	font-family: "微软雅黑";
	margin-left: 6px;
	margin-top: 6px;
	color: #ff3f00;
}
/*classCover*/
.classCover {
	width: 484px;
	height: 242px;
	position: absolute;
	background: url(../img/classCover.png) no-repeat;
	top:-12px;
	left: -12px;
	z-index: 99;
	display: none;
}
.classCoverPic {
	position: absolute;
	width: 223px;
	height: 124px;
	top:12px;
	left: 12px;
}
.classCoverTitle {
	position: absolute;
	left: 252px;
	top: 12px;
	font-family: "微软雅黑";
	width: 202px;
	font-size: 18px;
	color:#333333;
	overflow: hidden;
	text-overflow: ellipsis;
}
.classCoverNum {
	position: absolute;
	left: 252px;
	top:52px;
	font-family: "微软雅黑";
	font-size: 12px;
	color:#666666;
}
.classCoverAuthor {
	position: absolute;
	left: 252px;
	top:76px;
	font-family: "微软雅黑";
	font-size: 12px;
	color:#666666;
}
.classCoverClass {
	position: absolute;
	left: 252px;
	top:96px;
	font-family: "微软雅黑";
	font-size: 12px;
	color:#666666;
}
.classCoverIntro {
	position: absolute;
	top:176px;
	left:22px;
	width: 430px;
	height: 40px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #666666;
	word-wrap:break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*页码*/
.switch {
	height: 20px;
	width: 160px;
	float: right;
	margin-right: 30px;
}
.page li,.pre,.next,.page {
	display: inline-block;
}
.pre,.next{
	height: 20px;
	width: 30px;
	float: left;
}
.pre:hover,.next:hover {
	cursor: pointer;
}
.page {
	float: left;
}
.page li {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
.page li:hover {
	cursor: pointer;
	color: #39a030;
}
.activePage {
	background: #9dd8b1;
	color: #ffffff;
}

/*右边栏*/

/*上面视频*/
.contentRight {
	width: 225px;
	height: 1030px;
	float: right;
}
.contentRightTop {
	width: 225px;
	height: 232px;
	background: url(../img/contentRightTopBg.png) no-repeat;
}
.videoOpen {
	margin-top: 99px;
	margin-left: 23px;
}
.videoOpen:hover {
	cursor: pointer;
}
/*视频弹窗*/
.videoWindow {
	width: 950px;
	height: 676px;
	background: url(../img/videoWindowBg.png) no-repeat;
	position: absolute;
	top: 947px;
	z-index: 9999;
	display: none;
}
.videoWindow img {
	float: right;
	margin-right: 12px;
	margin-top: 12px;
}
.videoWindow img:hover {
	cursor: pointer;
}
.videoWindow video {
	width: 890px;
	height: 538px;
	position: absolute;
	top: 70px;
	left: 30px;
}
/*最热排行榜*/
.contentRightBottom {
	width: 225px;
	height: 780px;
	background: url(../img/hotBg.png) no-repeat;
	margin-top: 20px;
}
.scrollTitle {
	width: 225px;
	height: 76px;
	background: url(../img/hotT.png) no-repeat;
}
.scrollWrap {
	// margin-top: 76px;
	padding-left: 20px;
	height: 700px;
	overflow: hidden;
}
.scroll {
	height: 1400px;
}
.scrollWrap .scroll li {
	width: 186px;
	height: 50px;
	margin-bottom: 20px;

	float: left;
	display: block;
}
.hotPic {
	height: 50px;
	width: 50px;
}
.scrollRight {
	height: 50px;
	width: 124px;
	float: right;
}
.hotTitle {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
}
.scrollRight img {
	margin-right: 6px;
}
.hotNum {
	font-size: 10px;
	color: #999999;
}