@charset "utf-8";
/* CSS Document */

input {
	display: inline-block;
	width: 200px;
	height: 50px;
	border-radius: 5px;
}

#input1,#input2 {
	background: red;
}

#input3,#input4 {
	background: blue;
}

#input1:active,#input2:active {
	background:#7B7B7B;
}

#input3:active,#input4:active {
	background:#7B7B7B;
}

